<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Django App</title>
    <h1 style="text-align:center;">Aplicação Básica Feita Em Django</h1>
    <div id="strip"/>
    <style>
        #strip{
            width: 100%; height: 4px;
            border-style: solid;
            border-color: blue;
            background-color: white;
        }
    </style>

    {%block header%}

    {%endblock%}

</head>
<body>
    <center>
    {%block body%}

    {%endblock%}
    </center>
    <a href="/" style="position: absolute; bottom: 10%; right: 47%; font-size:2em">Home</a>
    <p style="position: absolute; bottom: 0%;" ><b>Devanir Ramos Junior</b></p>

</body>
</html>